{% extends 'inventory/main.html' %} {% load static %} {% block content %}

<br />
{% if form.errors %} {% for field in form %} {% for error in field.errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %} {% endif %}odels

<div class="row">
  <div class="col-md 6">
    <div class="card card-body">
      {% if form is None %}
      <p>
        Are you sure want to {{type}}
        <span style="font-weight: bold">{{inbound.product_name}}</span> inbound request?
      </p>
      <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Confirm"/>
        <a class="btn btn-warning" href="{% url 'inbound' %}">Cancel</a>
      </form>

      {%else%}
      <p>
        The product
        <span style="font-weight: bold">{{inbound.product_name}}</span> is a new
        product, please fill in the details.
      </p>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            {% for field in form %}
            <div class="col-sm-5"><b>{{ field.label_tag }}</b> {{ field }}</div>
            {% endfor %}
          </div>
        </div>
        <input class="btn btn-danger" type="submit" name="Confirm" />
        <a class="btn btn-warning" href="{% url 'inbound' %}">Cancel</a>
      </form>
      {%endif%}
      
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
