{% extends 'inventory/main.html' %}

{% block content %}

{% if user.is_authenticated and user.is_admin %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3>Outbound</h3>
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
		</div>
		<!-- 		Hidden Form to apply filters to pdf -->
		<form method="post" action="{% url 'pdf_outbound' %}" target="_blank">
			{% csrf_token %}
            <input type="hidden" name="seller_name" value="{{seller}}">
			<input type="hidden" name="status" value="{{status}}">
			<input type="submit" class="btn btn-secondary float-right" value="Export PDF">
		</form>
		<br>
		<br>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Seller</th>
                    <th>Product Name</th>
                    <th>SKU Code</th>
                    <th>Order Quantity</th>
                    <th>Platform</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    {% if status == "Pending" or 'status' not in request %}
                    <th>Approve</th>
                    <th>Reject</th>
                   {% endif %}
                </tr>
                {% for outbound in outbounds %}
                <tr>
                    <td>{{outbound.date_created}}</td>
                    <td>{{outbound.seller}}</td>
                    <td>{{outbound.product.product_name}}</td>
                    <td>{{outbound.product.sku_code}}</td>
                    <td>{{outbound.order_quantity}}</td>
                    <td>{{outbound.platform}}</td>
                    <td>{{outbound.remarks}}</td>
                    <td>{{outbound.status}}</td>
                    {% if outbound.status == "Pending" %}
                    <td><a class="btn btn-sm btn-success" href="{% url 'approve_outbound' outbound.pk%}">Approve</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'reject_outbound' outbound.pk%}">Reject</a></td>
                    {% else %}
					<td></td>
					<td></td>
                    {% endif %}
                </tr>

                {% endfor %}

            </table>
            {% include 'inventory/pagination.html' with page_obj=outbounds request=request only%}

        </div>
    </div>
</div>
{% else %}
<div class="row">
	<div class="col-md">

		<div class="card card-body">
            <h3>Outbound</h3>
            <form method="get">
                Status{{myFilter.form.status}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
		</div>
		<!-- 		Hidden Form to apply filters to pdf -->
		<form method="post" action="{% url 'pdf_outbound' %}" target="_blank">
			{% csrf_token %}
            <input type="hidden" name="seller_name" value="{{seller}}">
			<input type="hidden" name="status" value="{{status}}">
			<input type="submit" class="btn btn-secondary float-right" value="Export PDF">
		</form>
        
		<br>
		<br>
<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_outbound' %}">Create New Outbound</a>
<div class="card card-body">
    <table class="table">
        <tr>
            <th>Date</th>
            
            <th>Product Name</th>
            <th>SKU Code</th>
            <th>Order Quantity</th>
            <th>Platform</th>
            <th>Remarks</th>
            <th>Status</th>
        
      
        </tr>
        {% for outbound in outbounds %}
        <tr>
            <td>{{outbound.date_created}}</td>
            
            <td>{{outbound.product.product_name}}</td>
            <td>{{outbound.product.sku_code}}</td>
            <td>{{outbound.order_quantity}}</td>
            <td>{{outbound.platform}}</td>
            <td>{{outbound.remarks}}</td>
            <td>{{outbound.status}}</td>
        </tr>
        {% endfor %}

    </table>
    {% include 'inventory/pagination.html' with page_obj=outbounds request=request only%}
    </div>
    </div>

    </div>
{% endif %}
{% endblock content %}